<section class="col-sm border border-dark m-4 p-4">
    <form (ngSubmit)="formSubmitted()">
        <div class="form-group">
            <label class="form-label">Lower Bound</label>
            <input type="number" name="tb1" [(ngModel)]="lb" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-label">Upper Bound</label>
            <input type="number" name="ub1" [(ngModel)]="ub" class="form-control" />
        </div>
        <div class="d-grid mt-1">
            <button class="btn btn-primary" [disabled]="isInProgress" >GENERATE</button>
        </div>
    </form>

    @if(errMsg){
        <div class="alert alert-danger fw-bold p-2">
            {{errMsg}}
        </div>
    }

    @if(results && results.length>0){
        <div class="alert alert-info fw-bold p-2">
            @for(n of results;track $index){
                <span>{{n}}, </span>
            }
        </div>
    }
</section>
